.header {
    grid-area: h;
    background-color: ghostwhite ;
}
.header img{
    width: 60px;
}
.loginBlock {
    float: right
}
.div {
    border-color: antiquewhite ;
    height: 800px;
    width: 800px;
}