.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    background-color: var(--winColor);
    box-shadow: var(--winShadow);
    height: 100%;
    width: 80%;
    border-radius: var(--winBorder);
}

.content {
    background-color: #720a0a;
    height: 95%;
    width: 95%;
}
.messages {
    display: flex;
    flex-direction: row;
}

.dialogs {

}

.dialog a {
    text-decoration: none;
}
